* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

:root {
  --white: #fff;
  --yellow: #FFCD1E;
  --pink: #ff008e;
  --gray-50: #e1e1e6;
  --gray-100: #c4c4cc;
  --button-text: #09090A;
  --background: #121214;
  --background-secondary: #17171A;
  --text-body: #E1E1E6;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  color: var(--text-body);
  background: var(--background);
  overflow-x: hidden;
}
